<div class="d-block global-bg-glassy-black rounded-3 p-1 my-3">
    <div class="my-2 alert text-light" role="alert">
        <img src="assets/images/errors/error.png" width="80" class="my-2" alt="There was an error" role="decorative">
        <h4 class="alert-heading"> Oops! </h4>
        <p> Looks like we've run into a technical issue. </p>
        <hr>
        <p class="mb-0">
            Please try clicking on the Falcone head at the top or refreshing this page. <br>
            You could also try switching to a different <span class="badge bg-dark"> API </span> from the menu at the bottom.
        </p>
    </div> 
</div>